:root {
    --primary: #666;
    --secondary: black;
    --bg: none;
    --border: #CCC;
}

@page{
    size: A4 portrait;
    margin: 1.2cm 1.2cm 1.2cm 1.8cm;
}

body {
    background: white;
}

.container {
    max-width: 100%;
    width: 100%;
}

.btn-next, .btn-print, .ad-slot, .step-info, .progress-track {
    display: none !important;
}

.card{
    page-break-inside: auto;
}

.result-section-box {
    page-break-inside: avoid;
    box-shadow: none;
    border-width: 0 0 0 4px;
    border-color: var(--border);
    padding: 16px 0 16px 24px;
}

.card {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 24px 0;
}

.result-sec-text {
    padding: 16px 0 0 0;
    background: none;
}

.check-yes {
    background: var(--secondary);
    color: white;
}

.check-no {
    background: none;
    border: 2px solid var(--border);
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}