@page{
    size: A4 portrait;
}

body {
    background: white;
    color: black;
    padding: 4% 4% 4% 7%;
}

h1, h2, h3, h4, button {
    color: black;
}

.container {
    max-width: 100%;
    width: 100%;
}

.btn-next, .btn-print, .ad-slot, .progress-track {
    display: none !important;
}

.card{
    page-break-inside: auto;
}

.result-section-box {
    page-break-inside: avoid;
    box-shadow: none;
    border-width: 0 0 0 4px;
    border-color: #ddd;
    padding: 8px 0 8px 24px;
}

.card {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}

.result-question {
    background: none;
    border-bottom: 2px solid #ccc;
}

.check-yes {
    background: black;
    color: white;
}

.check-no {
    background: none;
    border: 2px solid #ccc;
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}