@page{
    size: A4 portrait;
}

body {
    background: white;
    color: black;
    padding: 4% 4% 4% 7%;
}

.container {
    max-width: 100%;
    width: 100%;
}

.btn-next, .btn-print, .ad-slot, .progress-track {
    display: none !important;
}

.card{
    page-break-inside: auto;
}

.result-section-box {
    page-break-inside: avoid;
}

.card {
    box-shadow: none;
    border: none;
    padding: 0;
    margin-bottom: 0;
}

.result-section-box {
    border-left: 4px solid var(--primary);
    margin-bottom: 20px;
}

.result-question {
    background: none;
    border-bottom: 1px solid #eee;
    border-radius: 0;
}

* {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}